.place__title {
  margin: 0;
  width: 455px;
  height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  grid-area: title;
  margin-top: 2.18rem;
}

@media screen and (max-width:1225px) {
  .place__title {
    width: 340px;
    font-size: 3.75rem;
    height: fit-content;

  }
}

@media screen and (max-width:520px) {
  .place__title {
    width: 50%;
    font-size: 2rem;
    margin: 0 1rem;
  }
}