.gallery {
  width                : 90%;
  display              : grid;
  padding-top          : 5.75rem;
  margin               : auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows   : repeat(2, 1fr);
  grid-gap             : 0.75rem 1rem;
  padding-bottom       : 5.75rem;

}

@media screen and (max-width: 768px) {
  .gallery {
    padding-top          : 2.375rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : repeat(2, 1fr);
  }
}

@media screen and (max-width: 490px) {
  .gallery {
    padding-bottom       : 3.875rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows   : repeat(2, 1fr);
  }
}