.beuys__quote {
  display    : flex;
  width      : 70%;
  font-weight: 400;
  font-size  : 1.5rem;
  margin-top : 2.5rem;
  position:relative;
}

@media screen and (max-width: 768px) {
  .beuys__quote {
    width      : 100%;
    font-style : normal;
    font-weight: 400;
    font-size  : 1.6rem;
    line-height: 1.42;
    margin     : auto;
  }

}
@media screen and (max-width: 490px) {
  .beuys__quote {
    width      : 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
  }

}