.beuys__quote {
  width      : 70%;
  font-style: normal;
  font-weight: 400;
  font-size  : 1.5rem;
  margin-top : 2.5rem;

}

@media screen and (max-width: 1225px) {
  .beuys__quote {
    width      : 100%;
    font-size  : 1.6rem;
    line-height: 1.42;
    margin     : auto;
  }

}
@media screen and (max-width: 490px) {
  .beuys__quote {
    font-size: 1.5rem;
    line-height: 1.25;

  }

}