.beuys__quote-author {
  width: 70%;
  top: 5.313rem;
  left: 13.25rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.42;
  text-align: right;
}

@media screen and (max-width: 1225px) {
  .beuys__quote-author {
    width: 100%;
    margin-top: 1rem;
  }

}

@media screen and (max-width: 490px) {
  .beuys__quote-author {
    margin:0
  }

}