.place__image {
  width     : 100%;
  grid-area: image;
  margin-top:2.5rem;
}

@media screen and (max-width:1225px){
  .place__image {
    width: 90%;
  }
}

@media screen and (max-width:490px){
  .place__image{
    width: 95%;
  }
}

@media screen and (max-width:380px) {
  .place__image {
    width: 70%;
    
  }
}