.place__button {
 max-width: fit-content;
 text-align: center;
  text-decoration : none;
  color           : #fff;
  background-color: #0278FE;
  padding         : 0.8125rem
  1.25rem;
  border-radius   : 0.25rem;
  font-style      : normal;
  font-weight     : 600;
  font-size       : 1.125rem;
  line-height     : 1.3125rem;
  align-self      : flex-start;
  grid-area       : button;
  transition      : background-color .5s;
}

.place__button:hover {
  background-color: #0063D2;
}

@media screen and (max-width:1225px) {
  .place__button {
    width      : 95%;
    font-weight: 600;
    font-size  : 1.05rem;
    line-height: 1.375rem;
  }
}

@media screen and (max-width:490px) {
  .place__button {
    width        : 30.625rem;
    padding:1rem 1.375rem 0.9375rem 21px;
    font-size    : 0.875rem;
    line-height  : 1.0625rem;
    margin: 8px 1rem 1rem 1rem;

  }
}