.visit__address {
  box-sizing      : border-box;
  width           : 656px;
  display         : flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  background-color: transparent;
  opacity         : 1;
  z-index         : 10;
}

@media screen and (max-width: 768px) {
  .visit__address {
    font-weight: 600;
    font-size  : 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 490px) {
  .visit__address {
    font-weight: 600;
    font-size  : 18px;
    line-height: 22px;
  }
}