/* .place__title_xl {
  width       : 584px;
  position    : relative;
  z-index     : 10;
  margin-right: -140px;

}

@media screen and (max-width:768px) {
  .place__title_xl {
    width      : 340px;
    font-size  : 2rem;
    line-height: 46px;
  }
}

@media screen and (max-width:490px) {
  .place__title_xl {
    width       : 60%;
    margin-right: 1rem;
  }
} */