.place__title_xl {
  width: 584px;
  position: relative;
  z-index: 10;
  margin-right: -140px;
}

@media screen and (max-width:768px) {
  .place__title_xl {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
    /* or 110% */
  }
}
