.beuys__heanding {
  font-style : normal;
  font-weight: 900;
  font-size  : 3.375rem;
  line-height: 1.09;
  margin     : 0 auto;
}

@media screen and (max-width: 490px) {
  .beuys__heanding {
    font-size    : 2rem;
    margin-bottom: 0.563rem;
  }
}