.beuys__heanding {
  font-weight: 900;
  font-size  : 3.375rem;
  line-height: 1.1;
}

@media screen and (max-width: 432px) {
  .beuys__heanding {
    width      : 90%;
    font-style : normal;
    font-weight: 900;
    font-size  : 2rem;
    line-height: 1.09;
  }
}