.place__artist-title {

  font-style    : normal;
  font-weight   : 400;
  font-size     : 0.75rem;
  line-height   : 2;
  letter-spacing: 0.12em;
  color         : #AAAAAA;
  grid-area     : artist-title;
  margin        : 0;
  margin-bottom : 8px;
}