.place__description-parrafo {
  max-width: 484px;
  margin       : 0;
  font-weight  : 400;
  font-size    : 1.125rem;
  line-height  : 1.63;
  padding-bottom: 1.5625rem;

}

@media screen and (max-width:768px) {
  .place__description-parrafo {
    width: 353px;
    }
}

@media screen and (max-width:490px) {
  .place__description-parrafo {
    font-size  : 1rem;
    padding: 0 .625rem;

  }
}