.principal__subtitulo {
  font-weight   : 400;
  font-size     : 30px;
  line-height   : 1.2;
  margin        : 0 auto;
  padding-top   : 5rem;
  padding-bottom: 4rem;
  text-align    : center;
  width         : 70%;
}

@media screen and (max-width:768px) {
  .principal__subtitulo {
    width: 95%;
    font-style : normal;
font-weight: 400;
font-size  : 30px;
line-height: 36px;
/* or 120% */

text-align: center;
  }
}

@media screen and (max-width:390px) {
  .principal__subtitulo {
    width      : 95%;
    font-style : normal;
    font-weight: 400;
    font-size  : 1.2rem;
    line-height: 1.25;
    /* or 125% */
    text-align : center;
  }
}