.place__artist-info {
  font-family: 'Inter';
  font-style : normal;
  font-weight: 400;
  font-size  : 18px;
  line-height: 22px;
  margin     : 0;
}

@media screen and (max-width: 1225px) {
  .place__artist-info {
    width: 70%;
  }
}