.place {
  width                : 80%;
  margin               : 0 auto;
  display              : grid;
  gap                  : 3rem 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas  :
    "title artist-title"
    "image artist-description"
    "button artist-description"
    "button .";
}

@media screen and (max-width:1225px) {
  .place {
    width   : 90%;
    grid-template-columns: .7fr 1fr;
    grid-gap: .5rem .5rem;

  }
}

@media screen and (max-width:490px) {
  .place {
    margin:0;
    grid-template-columns: 1fr;
    grid-template-areas  :
      "title"
      "artist-title"
      "image"
      "artist-description"
      "button";
    gap: 10px;
  }
}