.place {
  width: 80%;
  margin:0 auto;
  display: grid;
  gap: 3rem 2.5rem;
  grid-template-columns: 1.2fr 1fr;
  grid-template-areas:
  "title artist-title"
  "image artist-description"
  "button artist-description"
  "button .";
  align-self: center;
}

@media screen and (max-width:1225px) {
  .place {
    width: 95%;
    grid-gap: 1rem 1rem;
  }
}

@media screen and (max-width:520px) {
  .place {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist-title"
      "image"
      "artist-description"
      "button";
    gap: 10px;

  }
}