.address {
  box-sizing: border-box;
  width           : 656px;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  position        : absolute;
  background-color: transparent;
  top             : 243px;
  left            : 312px;
  opacity         : 1;
  z-index         : 10;
}